.background-mask {
  height: 100%;
  transition: background 0.6s;
  position: fixed;

  @media (max-width: 767px) {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    :host.off & {
      background-color: rgba(0, 0, 0, 0);
      pointer-events: none;
    }
  }
}

.menu-anchor {
  cursor: pointer;
  position: fixed;
  display: flex;
  align-items: center;
  color: #878787;
  height: 60px;
  margin-left: 18px;

  @media (min-width: 768px) {
    display: none;
  }
}

.content-container {
  background: #f8f8f8;
  border-radius: 0 24px 24px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  position: relative;
  left: 0;
  transition: left 0.6s;

  @media (max-width: 767px) {
    position: fixed;
    :host.off & {
      left: -200px;
    }
  }
}

.title {
  font-family: Billabong;
  font-size: 40px;
  margin: 10px;
  text-align: center;
}

.row {
  color: #878787;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &.selected {
    background: #84c7ae;
    color: white;
    font-weight: bold;
  }
}

.section-title {
  font-size: 14px;
  font-weight: bold;
  padding: 4px;
  color: #505050;
  margin-bottom: 4px;
}

.items-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.users-container {
  flex: 1;
  overflow-y: auto;
}
